/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*end reset*/

html {
  margin-inline: 151px;
  background-color: black;
  height: 100%;
}
body {
  display: grid;
  grid-template-columns: 206px auto;
  grid-template-rows: 121px auto;
  font-family: "Roboto", sans-serf;
  height: 100%;
}
header {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding-left: 28.25px;
  padding-top: 8px;
}
header > div:first-of-type {
  display: grid;
  grid-template-columns: repeat(5, minmax(min-content, max-content));
  align-items: center;
  line-height: 0.8;
  gap: 10px;
}
header > div:first-of-type > .mdi {
  font-size: 16.5px;
}
header .avatar-container {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 32px;
  border-radius: 50%;
  background-color: #facc14;
  margin-inline: 10px;
  margin-top: 0.25px;
}
header .avatar {
  position: absolute;
  top: 5px;
  left: 3.5px;
  width: 26px;
  aspect-ratio: 1920/1613;
}
header .search-bar {
  display: inline-block;
  background-color: #e2e8f0;
  width: 412.5px;
  height: 21px;
  border-radius: 12.5px;
  margin-right: 68px;
}
.bold {
  font-weight: 600;
  font-size: 12.5px;
}
header > div:last-of-type {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
  grid-template-rows: 1fr;
}

aside {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: #1a92d4;
  padding: 11.5px;
  display: grid;
  color: white;
  grid-auto-rows: minmax(min-content, max-content);
  gap: 35.25px;
}
main {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 18px auto;
  padding-top: 24.75px;
  gap: 5px;
}
main h3 {
  font-size: 13.75px;
  font-weight: 500;
}
main > h3:first-of-type {
  padding-left: 13px;
}
main > h3:nth-child(2) {
  padding-right: 110px;
}
main > .your-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 146px 146px 146px;
  row-gap: 21px;
  column-gap: 7.75px;
  padding-left: 13px;
}
main > .your-projects > .card {
  background: white;
  width: 252.5px;
  height: 146px;
  border-left: 6px #f0b429 solid;
  border-radius: 6px;
}
main > div:last-of-type {
  display: grid;
  grid-template-rows: 220px 48px auto;
}
main > div > .announcements {
  background-color: white;
  height: 220px;
  width: 188px;
  border-radius: 6px;
}
main > div > h3 {
  padding-top: 28px;
}
main > div > .trending {
  background-color: white;
  height: 213px;
  width: 188px;
  border-radius: 6px;
}

aside > ul {
  display: grid;
  grid-template-rows: repeat(auto, 25px);
  font-weight: 500;
  font-size: 14.75px;
  gap: 17px;
  margin-left: 8px;
}
aside > ul:last-of-type {
  margin-top: 17px;
}
aside > div {
  font-size: 18.5px;
  font-weight: 500;
  display: grid;
  grid-template-columns: min-content max-content;
  align-items: center;
}
aside > div > h1 {
  margin-bottom: 2px;
  letter-spacing: 0.25px;
}
aside > div > span {
  font-size: 32.5px;
  margin-right: 8px;
}
li > span.mdi {
  font-size: 16.25px;
  margin-right: 16px;
}
li {
  grid-template-columns: min-content max-content;
  align-items: center;
  letter-spacing: 0.25px;
}
